* {
	font-size: 12px;
	font-family: Tahoma;
}

body {
	width: 900px;
	margin: 0 auto;
}

header {
	margin: 10px 0;
}

footer {
	margin: 0px auto;
	width: 250px;
	padding: 50px;
}

a {
	color: blue;
}

a:active {
	color: red;
}

#loginForm, #registerForm {
	margin: 50px auto;
	width: 350px;
}

.spacer {
	margin: 10px;
	clear: both;
}

.error {
	color: red;
}

.success {
	color: green;
}

.animal {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 150px;
}

.animal-image {
	width: 110px;
	height: 110px;
}

.city {
	margin: 5px 0;
}